.title__parent {
    font-size: 40px;
}

.title__child {
    font-size: 3rem; /* если "em", то 40 будет умножаться на 3, потому что значение берет из родителеского элемента. А "rem", то берет из главного родителя, то есть html, а то есть 16 умножается на 3  */ 
    line-height: 200%;  /* Тоже самое что и 2em */
}