.text {
    max-width: 960px;
    max-height: 100px;
    padding: 25px 25px 0 25px;
    overflow:  scroll;
}

.squary {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #333;
}

